<div class="hero">
  <div class="hero__content">
    <div class="hero__left">
      <h1 class="hero__title">Tecnología para la lucha contra tumores</h1>
      <p class="hero__subtitle">
        Soluciones médicas inteligentes para diagnosticar y monitorear tumores de manera precisa y rápida.
      </p>
      <button class="hero__cta" routerLink="/weka" routerLinkActive="active">Explorar soluciones</button>
    </div>

    <div class="hero__right">
      <div class="hero__image">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/023/630/280/small_2x/human-brain-with-transparent-background-png.png" alt="Detección de Tumores" class="hero__dashboard" />
      </div>
    </div>
  </div>
  
<section class="recordatorios-section">
  <div class="recordatorios-container">
    <div class="panel-izquierdo">
      <img src="https://cdn-icons-png.freepik.com/512/5406/5406436.png" alt="Imagen Recordatorio" />
    </div>

    <div class="panel-derecho">
      <h2 class="titulo-principal">¡Ayudemos a las Personas Con Deteccion Temprana!</h2>
      <h3 class="subtitulo">tienes sospechas? haz un test Rapido </h3>
      <p class="descripcion">
        Evita pérdidas de tiempo y complicaciones, confirma cada cita. ¡Obtén reportes de seguimiento por tratamientos recuperados!
      </p>
      <button class="boton-probar" routerLink="/predicciones" routerLinkActive="active">Probar gratis →</button>
    </div>
  </div>
</section>

<section class="pagos-section">
  <div class="pagos-container">
    <div class="pagos-info">
      <h2 class="pagos-titulo">¿Quieres saber como funciona Nuestro algoritmo?</h2>
      <p class="pagos-descripcion">
        Ofrece más alternativas sencillas a tus pacientes oncológicos, 
        facilita una poderosa herramienta para la Deteccion de tumores
      </p>
      <a class="pagos-boton" routerLink="/codigo" routerLinkActive="active">Ver cómo funciona →</a>
    </div>

    <div class="pagos-mockups">
      <img src="https://cdn-icons-png.flaticon.com/512/1753/1753819.png" alt="Mockup Pagos" />
    </div>
  </div>
</section>

</div> 

