<!-- Pantalla de carga -->
<div *ngIf="cargando$ | async; else contenidoApp" class="pantalla-carga">
  <div class="red-algoritmica">
    <!-- SVG de líneas conectadas entre nodos -->
    <svg class="lineas" viewBox="0 0 300 300">
      <line *ngFor="let l of lineas"
            [attr.x1]="l.x1"
            [attr.y1]="l.y1"
            [attr.x2]="l.x2"
            [attr.y2]="l.y2" />
    </svg>

    <!-- Nodos animados orbitando -->
    <div class="nodo"
         *ngFor="let n of nodos"
         [style.top.%]="n.top"
         [style.left.%]="n.left">
    </div>
  </div>

  <div class="texto-carga">🧠 Procesando datos con Weka...</div>
</div>

<!-- Contenido de la app -->
<ng-template #contenidoApp>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</ng-template>
